<div>
	<div class="inner">
		<div class="footer-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<h2>About Us</h2>
					</div>
					<!--/.col-md-4-->
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-12">
						<address>
							<figure>
								<div class="info">
									<i class="fa fa-mobile"></i>
									<span>971-654-3456</span>
								</div>
								<div class="info">
									<i class="fa fa-phone"></i>
									<span>+1 123 456 789</span>
								</div>
								<div class="info">
									<i class="fa fa-globe"></i>
									<a href="http://www.gronicalappstudios.com" target="_blank">www.gronicalappstudios.com</a>
								</div>
							</figure>
						</address>
					</div>
					<div class="col-md-4 col-sm-12">
						<figure>
							<div>Gronical App Studios</div>
							<div>E - 43/1, Okhla Phase II</div>
							<div>New Dehli, India 110076</div>
						</figure>
					</div>
					<div class="col-md-4 col-sm-12">
						<div class="social">
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-pinterest"></i></a>
						</div>
						<a href="#" class="btn framed icon" target="_blank">Contact Us<i class="fa fa-angle-right"></i></a>
					</div>
<!--					<div class="col-md-3 col-sm-12">

					</div>-->
					<!--/.col-md-4-->
				</div>

				<!--/.row-->
			</div>
			<!--/.container-->
		</div>
		<!--/.footer-top-->
		<div class="footer-bottom">
			<div class="container">
				<span class="left">(C) Gronical App Studios, All rights reserved</span>
				<span class="right">
					<a href="#page-top" class="to-top roll"><i class="fa fa-angle-up"></i></a>
				</span>
			</div>
		</div>
		<!--/.footer-bottom-->
	</div>
</div>
