<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      
    <script type="text/javascript">
var gaClassicTrackingEnabled = false;
var lynda = {
    page: {},
    baseUrl: 'http://www.lynda.com/',
    cookies: {
        AccessDataCookieExisted: false,
        AccessCookie: null
    },
    displayPreferences: {"ShowHeaderEyebrow":true,"ShowNavigation":true,"ShowFooter":true,"ShowPrivacyPolicyOnSmallFooter":false,"IncludeTrackingScripts":true,"ShowSimpleFooterWithLogo":false,"ShowSimpleHeaderWithLogo":false,"RemoveLinksToHomepageFromLogo":false},
    endSessionInfo: null,
	evt: {
		logAnonUser: false
	},
    feature: {},
    googleAnalytics: {
        path: 'https://www.lynda.com/Log/GoogleTransaction',
        account: 'UA-512865-1',
    	customVars: [],
    	customDimensions: [],
        customVarMember: 'Unknown-Not-Logged-In',
        domain: 'lynda.com'
    },
    googleTagManager: {
        containerId: 'GTM-QK24',
    	sessionId: '85c42003-b048-4f1e-a65d-d3826a71a147',
        userId: '0',
        api: {}
    },
    isLoggedIn: false,
    dismissPlaylistInvite: false,
    isLoginConflicted: false,
    isSOLRAutocomplete: true,
    isOneCharAutoComplete: false,
    isBookmarksEnabled: false,
    isQueueEnabled: false,
    resumePopupPlayer: false,
    follow: '',
    tags: {maxLength: 32},
    isIMobileDevice: false,
	urls:{
		acceptedTerms: 'http://www.lynda.com/aboutus/terms',
		registrationTerms: 'http://www.lynda.com/registration/aboutus/terms',
        emailCapture: 'http://www.lynda.com/EmailCapture',
        log:  'http://www.lynda.com/ajax/log/json',
        searchSuggestions: 'http://www.lynda.com/autocomplete',
        headerSubjectSoftwareMenu: 'http://www.lynda.com/header/subjectsoftwaremenu',
        headerSubjectSoftwareMenuR: '',
        headerMyCoursesMenuA: 'http://www.lynda.com/header/mycoursesmenua',
        headerMyCoursesMenuR: '',
        playlistGet: "http://www.lynda.com/Playlist/Get",
        playlistGetItems: "http://www.lynda.com/Playlist/{0}/GetItems",
        findCourse: "http://www.lynda.com/tutorial/0",
        playlistSelect: "http://www.lynda.com/Playlist?playlistId={0}",
        playlistAll: "http://www.lynda.com/Playlist",
        userOrganizationPlaylistGet: 'Manage-Groups/Get-Playlists-For-User/'
    },
    overlay_width : '',
	rec:{
		log:{
			maxPerVid: 8
		}
	},
    settings:{
        playlist:{
            nameRegex: '^[A-Za-z0-9_!\?\.\(\)&,-/:@= ]*$'
        }
    },
    jwPlayerSwf: {
        location: 'http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/inline-video/JWPlayer/player5.9.swf?c-v=24745'
    }
};

dataLayer = [];
    </script>
    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/ModernMaster.init.min.js?c-v=24745"></script>


    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/External3rdPartyScripts.init.min.js?c-v=24745"></script>


    <!--[if IE 7]>
        <link rel="stylesheet" type="text/css" href="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/styles/ie7.css?c-v=24745" />
    <![endif]-->
    <!--[if IE 8]>
        <link rel="stylesheet" type="text/css" href="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/styles/ie8.css?c-v=24745" />
    <![endif]-->
    <!--[if IE 9]>
        <link rel="stylesheet" type="text/css" href="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/styles/ie9.css?c-v=24745" />
    <![endif]-->

    <script type="text/javascript">
        //<![CDATA[
        var utag_data = {};
            udata.build('global', {
                country: 'US',
                country_ip: 'US',
                culture: 'en-US',
				site_section: 'non-member'
            });

        //]]>
    </script>

    <script type="text/javascript">
        //<![CDATA[
            udata.build('nmhp', []);
        //]]>
    </script>



    <!-- oNQQ9Nv5PEEC60OBg8tGKsxvCPA -->
    <title>Online video tutorials & training | lynda.com</title>
    <meta name="description" content="Learn software, creative, and business skills to achieve your personal and professional goals. Join today and start learning." />
    <link rel="stylesheet" href="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/styles/page/Default.css?c-v=24745" type="text/css" />

    <link id="canonical" rel="canonical" href="http://www.lynda.com/" />
    <link rel="stylesheet" type="text/css" href="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/styles/inputs.css?c-v=24745" />
    <link rel="stylesheet" type="text/css" href="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/styles/validate.css?c-v=24745" />
    <link rel="stylesheet" type="text/css" href="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/styles/jquery-overlay.css?c-v=24745" />
    <!--[if lte IE 9]>
        <style type="text/css">
        .flip-container .flipper{
          cursor: pointer;
          text-decoration: none;
        }
        .flip-container .flipper .back{
            display: none;
            zoom: 1;
            opacity: 0.9;
            -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
              filter: alpha(opacity=90);
        }
        .flipper:hover .front{
          display: none;
        }
        .flipper:hover .back{
          display: block;
        }
        </style>
    <![endif]-->

</head>

<body>
    <div id="consent_blackbar"></div>




    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-QK24" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>


    <script type="text/javascript">
 (function(a,b,c,d)
        { a='//tags.tiqcdn.com/utag/lynda/main/prod/utag.js'; b=document;c='script';d=b.createElement(c);d.src=a; d.type='text/java'+c;d.async=true; a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a) }

        )(); </script>


    <div class="navigation" id="nav_var_b" data-qa="header">

        <a class="aria" href="#skipNavigation">Skip navigation</a>
        <div id="header" class="header">
            <div id="eyebrow" class="logo_bar eyebrow">
                <a class="lynda-logo" href="http://www.lynda.com/" data-qa="header_logo">lynda.com</a>

                <ul class="logged_out_menu">

                    <li class="logged_out_cta"><a href="http://www.lynda.com/promo/trial/default.aspx?lpk35=8006&bnr=topbeamember_newsite" data-qa="eyebrow_individual_cta">Become a member</a></li>

                    <li class="logged_out menu">
                        <a href="http://www.lynda.com/industries?bnr=topbusiness" data-qa="eyebrow_multiuser_business_cta" class="with_sub">Business <i class="fa fa-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="http://www.lynda.com/corporate?bnr=topcorporate" data-qa="eyebrow_multiuser_corporate_cta">Corporate</a></li>
                            <li><a href="http://www.lynda.com/nonprofit?bnr=topnonprofit" data-qa="eyebrow_multiuser_nonprofit_cta">Nonprofit</a></li>
                        </ul>
                    </li>
                    <li class="logged_out menu">
                        <a href="http://www.lynda.com/industries?bnr=topacademic" data-qa="eyebrow_multiuser_academic_cta" class="with_sub">Academic <i class="fa fa-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="http://www.lynda.com/higher-ed?bnr=tophighered" data-qa="eyebrow_multiuser_highered_cta">Higher Ed</a></li>
                            <li><a href="http://www.lynda.com/k-12?bnr=topk12" data-qa="eyebrow_multiuser_k12_cta">K-12</a></li>
                        </ul>
                    </li>
                    <li class="logged_out menu last">
                        <a href="http://www.lynda.com/industries?bnr=topgovernment" data-qa="eyebrow_multiuser_government_cta" class="with_sub">Government <i class="fa fa-angle-down"></i></a>
                        <ul class="sub_menu">
                            <li><a href="http://www.lynda.com/government?bnr=topagency" data-qa="eyebrow_multiuser_agency_cta">Agency</a></li>
                            <li><a href="http://www.lynda.com/library?bnr=toplibrary" data-qa="eyebrow_multiuser_library_cta">Library</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="menu_bar">
                <div class="center">
                    <ul class="main_links">
                        <li>
                            <a href="http://www.lynda.com/subject/all" class="main_link browse_menu with_sub" data-qa="header_subject_menu"><i class="bars_large"></i> Browse the library </a>
                            <div class="sub_menu subject_software" id="subject_sub_menu_a"></div>
                        </li>
                    </ul>
                    <form action="http://www.lynda.com/search" method="get" id="header_search_form" name="topsrch">
                        <input type="text" class="with-button site-search" id="header_search_field" name="q" placeholder="Find courses, authors, and more&hellip;" data-qa="header_search_field" />
                        <input type="submit" class="em-button small post-input left" value="Search" data-qa="header_search_cta" />
                        <i class="search_icon" aria-hidden="true"></i>
                    </form>
                    <ul class="main_links right">
                        <li class="my_courses_menu_a"></li>

                        <li class="sub_link"><a href="https://www.lynda.com/home/registration/RenewalStep1R.aspx" data-qa="eyebrow_reactivate_cta" class="ga" data-ga-cat="Login" data-ga-label="Reactivate link in header" data-ga-action="Reactivate link in header">Reactivate</a></li>
                        <li class="sub_link"><a href="http://www.lynda.com/user/login/modal" id="login-modal" class="ga overlay_trigger" data-ga-cat="Login" data-ga-label="Login link in header" data-ga-action="Login link in header" data-qa="eyebrow_log_in_cta"><strong>Log in</strong></a></li>

                    </ul>
                </div>
            </div>
        </div>
        <a id="skipNavigation"></a>

    </div>

    <div data-qa="main">


        <div class="color_blocks">
            <div class="container_16">
                <h1>New skills. Improved skills. Now.</h1>
                <h2>Learn technology, creative and business skills you can use today.</h2>
                <div class="blocks">
                    <div class="subject_toggle flip-container army">

                        <a href="http://www.lynda.com/Developer-training-tutorials/50-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>370</strong><span>COURSES</span><strong>15,696</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container orange">
                        <a href="http://www.lynda.com/Design-training-tutorials/40-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>566</strong><span>COURSES</span><strong>27,033</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container teal">
                        <a href="http://www.lynda.com/Web-training-tutorials/88-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>637</strong><span>COURSES</span><strong>24,322</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container plum">
                        <a href="http://www.lynda.com/Photography-training-tutorials/70-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>510</strong><span>COURSES</span><strong>24,205</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container purple">
                        <a href="http://www.lynda.com/Business-training-tutorials/29-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>728</strong><span>COURSES</span><strong>28,738</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container yellow">
                        <a href="http://www.lynda.com/Education-training-tutorials/1792-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>127</strong><span>COURSES</span><strong>5,435</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container green">
                        <a href="http://www.lynda.com/3D-Animation-training-tutorials/1-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>268</strong><span>COURSES</span><strong>11,739</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container blue">
                        <a href="http://www.lynda.com/Video-training-tutorials/78-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>498</strong><span>COURSES</span><strong>19,506</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <div class="subject_toggle flip-container sky">
                        <a href="http://www.lynda.com/Audio-Music-training-tutorials/20-0.html?bnr=NMHP_blocks" class="flipper">
                            <div class="front"><span>&nbsp;</span></div>
                            <div class="back"><strong>171</strong><span>COURSES</span><strong>6,228</strong><span>VIDEO TUTORIALS</span></div>
                        </a>
                    </div>
                    <span class="black"><span>&nbsp;</span><a href="http://www.lynda.com/promo/trial/default.aspx?lpk35=8006&btn=NMHP_blocks_V2" class="em-button yellow larger" data-qa="qa_join_now">Try it free</a></span>
                </div>
                <p><a href="#more_info">More information<span>&nbsp;</span></a></p>
            </div>
        </div>
        <div id="primary">
            <div class="container_16 section">
                <div class="grid_16 memberships">
                    <a name="more_info"></a>
                    <h3>All memberships include</h3>
                    <div class="left">
                        <div class="global_icon icon_lock">lock icon</div>
                        <div class="message">
                            <h4>Unlimited access</h4>
                            <p>
                                <strong>Learn what you want</strong>, when you want, from our entire course library.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="global_icon icon_play">play icon</div>
                        <div class="message">
                            <h4>3,445 video courses</h4>
                            <p>
                                <strong>Find what you need</strong>
                                in our growing library. New courses added weekly.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="global_icon icon_microphone">microphone icon</div>
                        <div class="message">
                            <h4>Expert teachers</h4>
                            <p>
                                Watch and learn from
                                <strong>top experts</strong>
                                who are passionate about teaching.
                            </p>
                        </div>
                    </div>
                    <div class="left">
                        <div class="global_icon icon_levels">levels icon</div>
                        <div class="message">
                            <h4>Variety of instruction</h4>
                            <p>
                                <strong>Courses for all levels</strong>
                                cover technical skills, creative techniques, business strategies, and more.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="global_icon icon_mobile">mobile icon</div>
                        <div class="message">
                            <h4>On-the-go learning</h4>
                            <p>
                                Watch from your
                                <strong>computer, tablet, or mobile device.</strong>
                                Switch back and forth as you choose.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="global_icon icon_playlist">playlist icon</div>
                        <div class="message">
                            <h4>Custom playlists</h4>
                            <p>
                                <strong>Create and save lists of courses</strong>
                                you want to watch, and share them with friends or colleagues.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="features" class="container_16 section">
                <div class="grid_7 suffix_1">
                    <h3>Watch. Listen. Practice. Learn.</h3>
                    <p><strong>You set the pace</strong> with online learning. Learn what you want, when you want, and practice with the instructor's files while you watch and listen.</p>
                    <div class="well dark tweet">
                        <img src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/images/Default/tw-1.jpg?c-v=24745" alt="@dawnmcfresh" />
                        <p>@lynda Just discovered you today - Thank You! For making learning easy & enjoyable!<br /><a href="https://twitter.com/dawnmcfresh/status/324366097111457795" class="author" rel="nofollow" target="_blank">@dawnmcfresh</a></p>
                    </div>
                </div>
                <img class="grid_8" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/images/Default/laptop-bg.jpg?c-v=24745" alt="lynda.com on laptop" />
            </div>
            <div id="subjects" class="container_16 section">
                <div class="grid_7 push_9">
                    <h3>Learn <span class="active_subject">web development</span> from a pro.</h3>
                    <p>Our teachers are effective, passionate educators, who are also respected authorities in software, creative, and business fields. They're here to share their expertise in dozens of topics with you, with courses organized into these eight subject areas.</p>
                </div>
                <ul class="grid_8 pull_7">
                    <li class="grid_2 alpha subject_icon"><a class="em-button blue" href="http://www.lynda.com/Design-training-tutorials/40-0.html"><div id="design_subject_icon"></div>Design</a></li>
                    <li class="grid_2 subject_icon"><a class="em-button blue" href="http://www.lynda.com/Developer-training-tutorials/50-0.html"><div id="developer_subject_icon"></div>Developer</a></li>
                    <li class="grid_2 subject_icon"><a class="em-button blue" href="http://www.lynda.com/Web-training-tutorials/88-0.html"><div id="web_subject_icon"></div>Web</a></li>
                    <li class="grid_2 omega subject_icon"><a class="em-button blue" href="http://www.lynda.com/Business-training-tutorials/29-0.html"><div id="business_subject_icon"></div>Business</a></li>
                    <li class="grid_2 alpha subject_icon"><a class="em-button blue" href="http://www.lynda.com/Photography-training-tutorials/70-0.html"><div id="photography_subject_icon"></div>Photography</a></li>
                    <li class="grid_2 subject_icon"><a class="em-button blue" href="http://www.lynda.com/Video-training-tutorials/78-0.html"><div id="video_subject_icon"></div>Video</a></li>
                    <li class="grid_2 subject_icon"><a class="em-button blue" href="http://www.lynda.com/Audio-Music-training-tutorials/20-0.html"><div id="audio_subject_icon"></div>Audio</a></li>
                    <li class="grid_2 omega subject_icon"><a class="em-button blue" href="http://www.lynda.com/3D-Animation-training-tutorials/1-0.html"><div id="3d_subject_icon"></div>3D</a></li>
                </ul>
            </div>
            <div id="socialB" class="container_16 section">
                <h3 class="grid_16">A trusted source for knowledge.</h3>
                <div class="dropcap grid_3">
                    <span class="digit">4</span>million+<br />
                    <span class="subtext">PEOPLE</span>
                </div>
                <p class="grid_10"><strong>We provide training to more than 4 million people</strong>, and <a href="http://www.lynda.com/aboutus/testimonials.aspx"> our members tell us</a> that lynda.com helps them stay ahead of software updates, pick up brand-new skills,<br />switch careers, land promotions, and explore new hobbies. What can we help you do?</p>
                <div class="grid_3 addthis_toolbox">
                    <a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="https://facebook.com/lynda"></a><br />
                    <a class="addthis_button_twitter_follow_native" tw:screen_name="lynda" tw:show-screen-name="false"></a>
                </div>
                <div class="testimonial pcmag well dark">
                    <img src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/images/Default/pc-mag.jpg?c-v=24745" alt="pcmag.com" />
                    <p>lynda.com excels at helping busy professionals keep their software skills razor sharp.<br /><a href="http://www.pcmag.com/article2/0,2817,2385781,00.asp" class="author" rel="nofollow" target="_blank">&mdash;Jill Duffy, PCMag.com</a></p>
                </div>
                <div class="testimonial standard well dark">
                    <p>I really love your site. I have learned so much and, thanks to you, I have just released my first app for iPhone. <br /><span class="author">&mdash;Stephanie J.</span></p>
                </div>
                <div class="testimonial twitter well dark">
                    <img src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/images/Default/tw-2.jpg?c-v=24745" alt="@amykilnerdesign" />
                    <p>Being able to use lynda.com  through uni is a life saver. In a few hours I will be a web design pro ;) <br /><a href="https://twitter.com/amykilnerdesign/statuses/313656179001798657" class="author" rel="nofollow" target="_blank">@amykilnerdesign</a></p>
                </div>
                <p class="grid_16 pull-right"><a href="http://www.lynda.com/aboutus/testimonials.aspx">Read more from our members &raquo;</a></p>
            </div>
            <div class="container_16 section">
                <div class="grid_7">
                    <h3>Training solutions for businesses, schools, government, and more</h3>
                    <p>In addition to <a href="http://www.lynda.com/plans">individual plans</a>, we also offer<br />cost-effective <a href="http://www.lynda.com/industries">group memberships</a> that make<br />top-quality video training available to everyone in<br />your organization. <a href="http://www.lynda.com/industries">Learn more &raquo;</a></p>
                </div>
                <div class="grid_9">
                    <div class="banner-box">
                        <h4>SOME OF OUR CLIENTS</h4>
                        <ul id="customers">
                            <li id="adobe">Adobe</li>
                            <li id="fullsail">Full Sail University</li>
                            <li id="nbc">NBC</li>
                            <li id="usc">University of Southern California</li>
                            <li id="usge">U.S. Office of Government Ethics</li>
                            <li id="patagonia">patagonia</li>
                            <li id="microsoft">Microsoft</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="devices" class="container_16 section">
                <div class="grid_7 push_9">
                    <h3>Desktop, mobile, and tablet access</h3>
                    <ul>
                        <li>Mobile site and free apps for iPhone, iPad, and Android devices</li>
                        <li>Switch devices without ever losing your place</li>
                        <li>Offline viewing option for Annual Premium members</li>
                    </ul>
                    <div class="app-links">
                        <div class="row">
                            <a href="https://itunes.apple.com/us/app/lynda.com/id356169777" target="_blank"><img alt="App Store" border="0" src="http://cdn.lynda.com/cms/asset/image/appstore123x371219745954.png" style="border:0"></a>
                            &nbsp; &nbsp;
                            <a href="http://www.amazon.com/gp/mas/dl/android?p=com.lynda.android.root" target="_blank"><img alt="Amazon" border="0" src="http://cdn.lynda.com/cms/asset/image/amazon117x371220006366.png" style="border:0"></a>
                        </div>
                        <div class="row">
                            <a href="http://apps.microsoft.com/windows/en-us/app/lynda/8b185bc1-b1a9-46b2-a596-1f3de3824778" target="_blank"><img alt="Windows 8" border="0" src="http://cdn.lynda.com/cms/asset/image/windowsstore123x381215525347.png" style="border:0"></a>
                            &nbsp; &nbsp;
                            <a href="https://play.google.com/store/apps/details?id=com.lynda.android.root" target="_blank"><img alt="Google Play" border="0" src="http://cdn.lynda.com/cms/asset/image/googleplay119x401220006475.png" style="border:0"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section last" id="ng:app" ng-app="NewCoursesCarousel">
                <span ng-controller="NewCourseCarouselController" ng-mouseenter="hover=1" ng-mouseleave="hover=!1">
                    <div class="container_16">
                        <h3 class="grid_16 carousel-header">Check out our newest courses <a href="http://www.lynda.com/allcourses" ng-show="hover">view all courses &raquo;</a></h3>
                    </div>
                    <div class="carousel-content container_16" ng-class="{loaded:courses.length>0}" data-segment="NewCourses" ng-controller="NewCourseCarouselController" carousel>
                        <div class="carousel-mask">
                            <div ng-cloak>
                                <div class="grid_4" ng-repeat="course in courses">
                                    <span ng-click="goToCourse(course.CourseUrl)">
                                        <div id="NewCourses-{{course.WelcomeVideoId}}" class="well course">
                                            <div>
                                                <div class="wide-thumb">
                                                    <a class="course-list-thumb" ng-href="{{course.CourseUrl}}"></a>
                                                    <img ng-src="{{course.CourseThumb}}" alt="Click to view {{course.Title}} course page" />
                                                </div>
                                                <p class="course-title"><a ng-href="{{course.CourseUrl}}">{{course.Title}}</a></p>
                                                <p class="release-date">{{course.ReleaseDateShort}}</p>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="em-popover course-popover" popover data-target="#NewCourses-{{course.WelcomeVideoId}}" ng-repeat="course in courses">
                            <h4><a ng-href="{{course.CourseUrl}}">{{course.Title}}</a></h4>
                            <p>{{course.Description|truncate:152}}</p>
                            <p class="button-container"><a ng-href="{{course.CourseUrl}}" class="em-button block">view course</a></p>
                            <table>
                                <tr><td>author</td><td><a ng-href="{{course.AuthorUrl}}">{{course.Author}}</a></td></tr>
                                <tr><td>level</td><td>{{course.Level}}</td></tr>
                                <tr><td>released</td><td>{{course.ReleaseDate}}</td></tr>
                                <tr><td>duration</td><td>{{course.Duration}}</td></tr>
                            </table>
                        </div>
                        <div class="slider-left">&nbsp;</div><div class="slider-right">&nbsp;</div>
                    </div>
                </span>
                <span ng-controller="PopularCarouselController" ng-mouseenter="hover=1" ng-mouseleave="hover=!1">
                    <div class="container_16">
                        <h3 class="grid_16 carousel-header">A few of our most popular courses <a href="http://www.lynda.com/allcourses" ng-show="hover">view all courses &raquo;</a></h3>
                    </div>
                    <div class="carousel-content container_16" ng-class="{loaded:courses.length>0}" data-segment="Popular" ng-controller="PopularCarouselController" carousel>
                        <div class="carousel-mask">
                            <div ng-cloak>
                                <div class="grid_4" ng-repeat="course in courses">
                                    <span ng-click="goToCourse(course.CourseUrl)">
                                        <div id="Popular-{{course.WelcomeVideoId}}" class="well course">
                                            <div>
                                                <div class="wide-thumb">
                                                    <a class="course-list-thumb" ng-href="{{course.CourseUrl}}"></a>
                                                    <img ng-src="{{course.CourseThumb}}" alt="Click to view {{course.Title}} course page" />
                                                </div>
                                                <p class="course-title"><a ng-href="{{course.CourseUrl}}">{{course.Title}}</a></p>
                                                <p class="release-date">{{course.ReleaseDateShort}}</p>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="em-popover course-popover" popover data-target="#Popular-{{course.WelcomeVideoId}}" ng-repeat="course in courses">
                            <h4><a ng-href="{{course.CourseUrl}}">{{course.Title}}</a></h4>
                            <p>{{course.Description|truncate:152}}</p>
                            <p class="button-container"><a ng-href="{{course.CourseUrl}}" class="em-button block">view course</a></p>
                            <table>
                                <tr><td>author</td><td><a ng-href="{{course.AuthorUrl}}">{{course.Author}}</a></td></tr>
                                <tr><td>level</td><td>{{course.Level}}</td></tr>
                                <tr><td>released</td><td>{{course.ReleaseDate}}</td></tr>
                                <tr><td>duration</td><td>{{course.Duration}}</td></tr>
                            </table>
                        </div>
                        <div class="slider-left">&nbsp;</div><div class="slider-right">&nbsp;</div>
                    </div>
                </span>
                <div class="container_16">
                    <div id="call_to_action" class="grid_16">
                        <h3>Ready to learn?</h3>
                        <a class="em-button yellow larger" href="http://www.lynda.com/promo/trial/default.aspx?lpk35=8006&btn=getStartedBTM" data-qa="qa_nonMemberHome_button_getStarted">Try it free</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">    var stayPut = false;</script>

    </div>

    <div id="footer" data-qa="footer">

        <div class="sub_links">

            <a href="http://www.video2brain.com">Video2Brain</a> |

            <a href="http://www.lynda.com/sitemap">Site map</a> |
            <a href="https://www.lynda.com/partners">Partner program</a> |
            <a href="http://www.lynda.com/aboutus/otl-privacy.aspx">Privacy policy</a> |

            <a href="http://www.lynda.com/aboutus/website-use-policy">Website use policy</a>

            <span id="teconsent" style="display:none;width:120px;height:15px;padding:1px;font-size:14px;"></span>

        </div>

        <div id="thin_footer">
            <div class="center">
                <div class="copyright">&copy; 1995&ndash;2015 lynda.com, Inc.</div>

                <ul class="main_links">

                    <li><a href="http://www.lynda.com/aboutus/benefits.aspx" class="main_link" data-qa="qa_footer_whyJoin">Why join?</a></li>

                    <li>
                        <a class="main_link with_sub">Follow</a>
                        <div class="sub_menu sub_follow">
                            <p>Follow lynda.com:</p>

                            <a class="follow_linkedin" target="_blank" href="https://www.linkedin.com/companies/lynda.com" title="Follow us on LinkedIn"></a>

                            <a class="follow_email modal-trigger overlay_trigger" target="_blank" href="#email-content" rel="publisher"></a>

                            <a class="follow_rss" target="_blank" href="http://feeds.feedburner.com/lyndacom-new-releases" title="Follow us via RSS" rel="publisher"></a>
                            <a class="follow_googleplus" target="_blank" href="https://plus.google.com/+lynda" title="Follow us on Google+" rel="publisher"></a>
                            <a class="follow_twitter" target="_blank" href="https://twitter.com/lynda/" title="Follow us on Twitter"></a>
                            <a class="follow_facebook" target="_blank" href="https://www.facebook.com/lynda" title="Follow us on Facebook"></a>

                        </div>
                    </li>

                    <li><a href="http://www.lynda.com/aboutus/" class="main_link" data-qa="qa_footer_aboutUs">About us</a></li>
                    <li><a href="http://www.lynda.com/press" class="main_link" data-qa="qa_footer_press">Press</a></li>
                    <li><a href="http://www.lynda.com/aboutus/careers.aspx" class="main_link" data-qa="qa_footer_careers">Careers</a></li>
                    <li>
                        <a href="http://www.lynda.com/plans" class="main_link with_sub" data-qa="qa_footer_products_menu">Products</a>
                        <div class="sub_menu sub_products">
                            <ul>
                                <li><a href="http://www.lynda.com/plans" data-qa="qa_footer_individualMemberships_item">Individual memberships</a></li>

                                <li><a href="http://www.lynda.com/corporate" data-qa="qa_footer_corporateSolutions_item" data-ga-cat="Link" data-ga-label="Global footer link Corporate solutions" data-ga-action="Click">Corporate solutions</a></li>
                                <li><a href="http://www.lynda.com/nonprofit" data-qa="qa_footer_nonorofitSolutions_item" data-ga-cat="Link" data-ga-label="Global footer link Nonprofit solutions" data-ga-action="Click">Nonprofit solutions</a></li>
                                <li><a href="http://www.lynda.com/government" data-qa="qa_footer_governmentSolutions_item" data-ga-cat="Link" data-ga-label="Global footer link Government solutions" data-ga-action="Click">Government solutions</a></li>
                                <li><a href="http://www.lynda.com/library" data-qa="qa_footer_librarySolutions_item" data-ga-cat="Link" data-ga-label="Global footer link Library solutions" data-ga-action="Click">Library solutions</a></li>
                                <li><a href="http://www.lynda.com/higher-ed" data-qa="qa_footer_higherEdSolutions_item" data-ga-cat="Link" data-ga-label="Global footer link Higher Ed solutions" data-ga-action="Click">Higher Ed solutions</a></li>
                                <li><a href="http://www.lynda.com/k-12" data-qa="qa_footer_k12Solutions_item" data-ga-cat="Link" data-ga-label="Global footer link K-12 solutions" data-ga-action="Click">K-12 solutions</a></li>

                                <li><a href="http://www.lynda.com/mobile-apps" data-qa="qa_footer_mobileApps_item">Mobile apps</a></li>

                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="http://www.lynda.com/support/" class="main_link with_sub" data-qa="qa_footer_support_menu">Support</a>
                        <div class="sub_menu sub_support">
                            <ul>
                                <li><a href="http://www.lynda.com/support/faq.aspx" data-qa="qa_footer_faqs_item">FAQs</a></li>
                                <li><a href="http://www.lynda.com/support/contact.aspx" data-qa="qa_footer_contactUs_item">Contact Us</a></li>
                                <li><a href="http://www.lynda.com/support/SystemRequirements.aspx" data-qa="qa_footer_systemRequirements_item">System Requirements</a></li>
                                <li><a href="http://www.lynda.com/news/NewsletterPreferences.aspx" data-qa="qa_footer_manageEmailPreferences_item">Manage email preferences</a></li>
                                <li><a href="https://www.lynda.com/promo/activatekey" data-qa="qa_footer_registerActivationKey_item">Register activation key</a></li>
                                <li><a href="http://www.lynda.com/Business-tutorials/How-use-lyndacom/77683-2.html" data-qa="qa_footer_howToUseLynda_item">How to use lynda.com</a></li>
                            </ul>
                        </div>
                    </li>

                    <li><a id="feedback-modal" class="main_link overlay_trigger" href="http://www.lynda.com/user/feedback/modal" data-qa="qa_footer_siteFeedback">Site feedback</a></li>
                </ul>

            </div>
        </div>
    </div>

    <script type="text/javascript">
    var loadingPleaseWait = "please wait ...";
    </script>
    <script>
	jQuery(document).ready(function () {
		var checkMark = "<img id=\"activeLibraryCheck\" alt=\"Active Language\" src=\"http://cdn.lynda.com/assets/1313-r20150414/Website/ui/images/queues/yellow_check.png?c-v=24745\" />";
	    var activeLibrary = jQuery('#activeLibrary');
	    if (activeLibrary.length > 0) {
	        if (activeLibrary.val() == 'en') {
	            jQuery('#footerLibraryEN').addClass('activeLibrary inactiveLink').append(checkMark);
	            jQuery('#footerLibraryDE').removeClass('inactiveLink');
	            jQuery('#footerLibraryES').removeClass('inactiveLink');
	            jQuery('#footerLibraryFR').removeClass('inactiveLink');
	            jQuery('#footerLibraryDE').attr("href", window.location.protocol + "//" + window.location.host + "/de");
	            jQuery('#footerLibraryES').attr("href", window.location.protocol + "//" + window.location.host + "/es");
	            jQuery('#footerLibraryFR').attr("href", window.location.protocol + "//" + window.location.host + "/fr");
	            jQuery('#footerLibrary').attr("href", window.location.protocol + "//" + window.location.host);
	        }
	        else if (activeLibrary.val() == 'de') {
	            jQuery('#footerLibraryDE').addClass('activeLibrary inactiveLink').append(checkMark);
	            jQuery('#footerLibraryEN').removeClass('inactiveLink');
	            jQuery('#footerLibraryES').removeClass('inactiveLink');
	            jQuery('#footerLibraryFR').removeClass('inactiveLink');
	            jQuery('#footerLibraryEN').attr("href", window.location.protocol + "//" + window.location.host);
	            jQuery('#footerLibraryES').attr("href", window.location.protocol + "//" + window.location.host + "/es");
	            jQuery('#footerLibraryFR').attr("href", window.location.protocol + "//" + window.location.host + "/fr");
	            jQuery('#footerLibrary').attr("href", window.location.protocol + "//" + window.location.host + "/de");
	        }
	        else if (activeLibrary.val() == 'es') {
	            jQuery('#footerLibraryES').addClass('activeLibrary inactiveLink').append(checkMark);
	            jQuery('#footerLibraryEN').removeClass('inactiveLink');
	            jQuery('#footerLibraryDE').removeClass('inactiveLink');
	            jQuery('#footerLibraryFR').removeClass('inactiveLink');
	            jQuery('#footerLibraryEN').attr("href", window.location.protocol + "//" + window.location.host);
	            jQuery('#footerLibraryDE').attr("href", window.location.protocol + "//" + window.location.host + "/de");
	            jQuery('#footerLibraryFR').attr("href", window.location.protocol + "//" + window.location.host + "/fr");
	            jQuery('#footerLibrary').attr("href", window.location.protocol + "//" + window.location.host + "/es");
	        }
	        else if (activeLibrary.val() == 'fr') {
	            jQuery('#footerLibraryFR').addClass('activeLibrary inactiveLink').append(checkMark);
	            jQuery('#footerLibraryEN').removeClass('inactiveLink');
	            jQuery('#footerLibraryDE').removeClass('inactiveLink');
	            jQuery('#footerLibraryES').removeClass('inactiveLink');
	            jQuery('#footerLibraryEN').attr("href", window.location.protocol + "//" + window.location.host);
	            jQuery('#footerLibraryDE').attr("href", window.location.protocol + "//" + window.location.host + "/de");
	            jQuery('#footerLibraryES').attr("href", window.location.protocol + "//" + window.location.host + "/es");
	            jQuery('#footerLibrary').attr("href", window.location.protocol + "//" + window.location.host + "/fr");
	        }
	    }
	});
    </script>
    <!--googleoff: all-->



    <div id="ov-repermission" class="overlay_holder repermission-hide">
        <div class="repermission-overlay-top">
            <div class="repermission-overlay-logo">
                <img src="http://cdn.lynda.com/cms/asset/image/lynda-logo-740px182802598.png" />
            </div>
            <p class="repermission-thanks">Thanks for your interest in lynda.com.</p>
            <p class="repermission-happy">Happy Learning!</p>
        </div>
        <div class="repermission-overlay-bottom">
            <p>Learn technology, creative and business skills you can use today.</p>
            <ul>
                <li><em>Over 4,000 expert-led courses site-wide</em></li>
                <li><em>New courses added weekly</em></li>
                <li><em>Premium plans get offline [course] viewing and practice file downloads</em></li>
            </ul>
            <button id="repermission-close" class="em-button yellow large"><strong>Get started today!</strong></button>
        </div>
    </div>
    <!--googleon: all-->



    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/ModernMaster.min.js?c-v=24745"></script>
    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/External3rdPartyScripts.min.js?c-v=24745"></script>

    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/privacycookie.js?c-v=24745"></script>
    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/3rdparty/jquery/jquery.cookie.js?c-v=24745"></script>
    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/page/DefaultService.js?c-v=24745"></script>
    <script type="text/javascript" src="http://cdn.lynda.com/assets/1313-r20150414/Website/ui/scripts/jquery_overlay.js?c-v=24745"></script>
    <script type="text/javascript">

    </script>



    <div class="overlay_holder">
        <div id="submit-content" class="overlay_content thank-you">
            <p class="topper">Thanks for signing up.</p>
            <p>We&rsquo;ll send you a confirmation email shortly.</p>
            <hr />
            <p class="newsletters">Sign up and receive emails about lynda.com and our online training library:</p>
            <ul>
                <li>new course releases</li>
                <li>newsletter</li>
                <li>general communications</li>
                <li>special notices</li>
            </ul>
            <p class="privacy">Here&rsquo;s our <a href="http://www.lynda.com/aboutus/otl-privacy.aspx" target="_blank">privacy policy</a> with more details about how we handle your information.</p>
        </div>
    </div>
    <div class="overlay_holder">
        <div id="email-content" class="overlay_content emailCaptureParentDiv">
            <p class="topper">Keep up with news, tips, and latest courses with emails from lynda.com.</p>
            <p class="newsletters">Sign up and receive emails about lynda.com and our online training library:</p>
            <ul>
                <li>new course releases</li>
                <li>newsletter</li>
                <li>general communications</li>
                <li>special notices</li>
            </ul>
            <p>Here&rsquo;s our <a href="http://www.lynda.com/aboutus/otl-privacy.aspx" target="_blank">privacy policy</a> with more details about how we handle your information.</p>
            <div class="capture-field">
                <div class="emailCaptureMessageDiv"></div>
                <input type="text" name="emailCaptureTextBox" class="emailCaptureTextBox cleardefault placeholder" value="Email address" />
                <input type="hidden" name="subsource" value="2" id="subsource" />
                <span id="emailCaptureErrorImage" class="emailCaptureErrorImage">&nbsp;</span>
                <span class="processing">&nbsp;</span>
            </div>
            <a class="em-button blue emailCaptureSubmitButton"><span>submit</span></a>
            <a href="#submit-content" class="modal-trigger" id="thankyou-lightbox">Lightbox submit clicked</a>
            <input type="hidden" class="emailCaptureTrackingParameter" value="NLsubmit_mship_lightbox" />
        </div>
    </div>

    <div class="overlay_holder">
        <div id="terms-content" class="terms_overlay_content termsParentDiv">
            <span id="terms_overlay_title">Terms and conditions of use</span>
            <p class="changed_terms">We've updated our terms and conditions (now called terms of service).<a href="http://www.lynda.com/home/accepttermsandconditions.aspx" class="em-button blue large changed_terms_button">Go</a><br /> Review and accept our updated terms of service.</p>
            <div id="termsOfService">
            </div>
        </div>
    </div>
</body>
</html>

