.undecorated-link:hover {
  text-decoration: none;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.browsehappy.jumbotron.hide {
  display: block;
}
.pop-up-box .header {
  box-shadow: none;
}
.dashboard {
  width: 100%;
  height: 768px;
  background: url("../img/bg1.jpg");
}
.search-task {
  text-align: center;
}
.input-textbox {
  padding-top: 100px;
  width: 100%;
}
.input-textbox .rounded-box {
  border-radius: 20px !important;
}
.input-textbox .input-icon {
  height: 37px;
  width: 357px;
  display: inline-block;
  position: relative;
}
.input-textbox .box-shadow-twosides {
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15) !important;
}
.search-icon {
  display: block;
  position: absolute;
  height: 23px;
  width: 20px;
  right: 6px;
  top: 9px;
}
.pop-up {
  background: rgba(0, 0, 0, 0.6);
  height: 768px;
  position: absolute;
  width: 100%;
  border-radius: 5px;
}
.fa-remove::before,
.fa-close::before,
.fa-times::before {
  font-size: 22px;
  color: #333333;
  position: absolute;
  right: 10px;
  top: 10px;
}
.pop-up .pop-up-box {
  background-color: #ffffff;
  width: 400px;
  color: #c87400;
  left: 35%;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.sign-in,
.sign-up {
  color: #9d9d9d;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sign-in:hover,
.sign-up:hover {
  background-color: #333;
  color: #eeeeee;
}
.pop-up-box .title {
  padding: 10px;
  background-color: #dedede;
  color: #000000;
  font-size: 16px;
}
.pop-up-container {
  padding: 0 30px 38px;
}
.pop-up-container .red-border {
  margin-top: 20px;
  border-bottom: 4px solid #b22222;
}
.facebook-link {
  height: 80px;
  margin-top: 40px;
}
.facebook-link img {
  width: 60px;
  height: 60px;
  float: left;
}
.google-label {
  text-align: center;
  color: #ffffff;
}
.google-label a:hover {
  color: #ffffff;
}
.pop-up-container.login .google-link {
  margin: 14px 0 30px;
}
.facebook-link .recommendation-label {
  font-size: 15px;
  color: #9d9d9d;
  text-align: center;
}
.email-link {
  text-align: center;
}
.email-link .email-label {
  display: inline-block;
  font-size: 13px;
  margin-top: 24px;
  font-weight: bold;
}
.email-link .buttons .sign-in,
.email-link .buttons .sign-up,
.login-email .back,
.login-email .login,
.register .back,
.register .login {
  background-color: #e1e1e1;
  border-radius: 2px;
  color: #8f8f8f;
  font-size: 13px;
  margin: 0 11px;
  padding: 6px 12px;
  width: 130px;
}
.email-link .buttons .sign-in:hover,
.email-link .buttons .sign-up:hover,
.login-email .back:hover,
.login-email .login:hover,
.register .back:hover,
.register .login:hover {
  background-color: #eaeaea;
}
.email-link .buttons .sign-up {
  width: 130px;
}
.email-link .buttons {
  margin-top: 6px;
}
.pop-up-container.login-email,
.pop-up-container.register {
  font-size: 12px;
}
.pop-up-container.login-email input,
.pop-up-container.register input {
  width: 100%;
  border: 1px solid #cccccc;
  box-shadow: none;
}
.close-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.pop-up-container.login-email input.form-control,
.pop-up-container.register input.form-control {
  padding: 8px 12px;
}
.login-email .user-email,
.login-email .user-password,
.register .user-full-address,
.register .user-email,
.register .user-password {
  margin-bottom: 6px;
  margin-top: 15px;
  font-weight: bold;
}
#checkPassword {
  width: auto;
  margin-top: 15px;
  float: left;
}
.login-email .buttons,
.register .buttons {
  margin: 15px 0;
  text-align: center;
}
.pop-up-container.login-email label {
  margin-left: 9px;
  margin-top: 23px;
  margin-bottom: 10px;
  float: left;
}
.login-email .back,
.login-email .login,
.register .back,
.register .login {
  width: 130px;
}
.login-email .forget-password {
  margin-top: 15px;
  color: #c12e2a;
}
.thumbnail-img {
  height: 45px;
  width: 40px;
  margin: 0 10px;
  background-image: url('/assets/img/phone.jpg');
  background-size: contain;
}
.location + .list-slider {
  max-height: 264px;
  overflow-y: scroll;
}
.list-slider .slide.drop-down .list-item {
  margin-bottom: 0px;
}
.list-item.selected {
  background-color: #eeeeee;
}
.slide.drop-down {
  padding-left: 0;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.0980392);
}
.drop-down h4 {
  color: #555555;
}
.drop-down figure {
  color: #f09300;
}
.mob-detail {
  margin-top: 10px;
}
.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.googlepl {
  display: block;
  float: left;
  font-weight: 400;
  margin-right: 5px;
  text-transform: none;
}
.google-plus-connect {
  background-color: rgba(194, 71, 54, 0.85);
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  height: 40px;
  letter-spacing: 1px;
  line-height: 42px;
  margin: 0;
  min-width: 280px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > li > a {
  cursor: pointer;
}
.navbar-inverse .navbar-brand {
  color: #e0e0e0;
  font-weight: bold;
}
.navbar-brand {
  font-size: 25px;
}
